[submodule "vim/bundle/git"]
	path = vim/bundle/git
	url = git://github.com/tpope/vim-git.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-indexedsearch"]
	path = vim/bundle/vim-indexedsearch
	url = http://github.com/bronson/vim-indexedsearch.git
[submodule "vim/bundle/vim-vividchalk"]
	path = vim/bundle/vim-vividchalk
	url = http://github.com/tpope/vim-vividchalk.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/speeddating"]
	path = vim/bundle/speeddating
	url = git://github.com/tpope/vim-speeddating.git
[submodule "vim/bundle/abolish"]
	path = vim/bundle/abolish
	url = http://github.com/tpope/vim-abolish.git
[submodule "vim/bundle/objj"]
	path = vim/bundle/objj
	url = http://github.com/nanki/vim-objj.git
